<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .moveToBottom {
            position: absolute;
            bottom: 0;
        }
        .menuHover {
            background: #FFFF00;
            padding-top: 1px;
            padding-bottom: 10px;
            color: black;
        }
        .menuHover:hover {
            background: #CCCC00
        }
    </style>
</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">

    </div>
    -->
    <div class="container body-content" style="margin-bottom: 60px">
        @RenderBody()
    </div>
    <footer>
        <table width="100%" style="position: fixed; min-height:70px; bottom: 0">
            <tr>
                <th class="text-center menuHover">@Html.ActionLink("Tambah Transaksi", "Index", "Home")</th>
                <th class="text-center menuHover">@Html.ActionLink("Daftar Barang", "StuffList", "Home")</th>
                <th class="text-center menuHover">@Html.ActionLink("Laporan Penjualan", "Report", "Home")</th>
            </tr>
        </table>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
