@using PointOfSales.Models
@model dynamic

@{
    ViewBag.Title = "Point of Sales";
}

<h1 class="text-center mb-4 d-print-none">@ViewBag.Title</h1>

 <div class="container">
     <div class="col-5 mx-auto">
         <div class="card">
             <table class="table">
                 <tr>
                     <th colspan="2" class="text-center">Struk Belanja</th>
                 </tr>
                 <tr>
                     <td>ID Transaksi</td>
                     <td>@Model.Transaction.TransactionId</td>
                 </tr>
                 <tr>
                     <td>Waktu Pembelian</td>
                     <td>@Model.Transaction.CreatedAt</td>
                 </tr>
                @foreach (CartModel cart in Model.Carts)
                {
                    <tr>
                        <td>@cart.Item.Name (@cart.Amount)</td>
                        <td>Rp. @((cart.Amount*cart.Item.Price).ToString("#,##0.00"))</td>
                    </tr>
                 }
                 <div class="col-5"></div>
                 <tr>
                     <td>
                         <b>Total</b>
                     </td>
                     <td>
                         <b>Rp. @Model.Transaction.TotalPrice.ToString("#,##0.00")</b>
                     </td>
                 </tr>
             </table>
         </div>
         <br />
         <button type="button" onclick="window.print()" class="btn btn-success btn-block d-print-none">Print</button>
     </div>
 </div>

