@using PointOfSales.Models
@model dynamic

@{
    ViewBag.Title = "Home Page";
}

<table cellpadding="0" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    @foreach (ItemModel item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
        </tr>
    }
</table>

<table cellpadding="0" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Total Price</th>
        <th>Amount</th>
    </tr>
    @foreach (CartModel cart in Model.Carts)
    {
        <tr>
            <td>@cart.Item.Name</td>
            <td>@(cart.Amount*cart.Item.Price)</td>
            <td>@cart.Amount</td>
        </tr>
    }
</table>