@using PointOfSales.Models
@model dynamic

@{
    ViewBag.Title = "Point of Sales";
}

<h1 class="text-center mb-4">@ViewBag.Title</h1>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col mr-2">
            <div class="row">
                @foreach (ItemModel item in Model.Items)
                {
                    <div class="col-3 px-1 mb-2">
                        <div class="card">
                            <img class="card-img-top" src="~/UploadedFiles/@item.Image" alt="@item.Image" style="max-height:100px">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5>@item.Name</h5>
                                </div>
                                <div class="card-text">
                                    <p>Rp. @item.Price.ToString("#,##0.00")</p>
                                    <!-- TODO: Link to add item to cart -->
                                    <form class="text-center" action="Home/UpdateCart" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="ItemId" value="@item.ItemId"/>
                                            <label>Quantity: </label>
                                            <input class="form-control" type="number" name="Amount" value="1" min="1" max="@item.Stock" required/>
                                            <button type="submit" class="mt-2 btn btn-primary btn-block btn-sm">Add to Cart</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-5">
            <div>
                @{int total_price = 0;}
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Nama Barang</th>
                        <th>Harga</th>
                        <th></th>
                    </tr>
                    @foreach (CartModel cart in Model.Carts)
                    {
                        total_price += cart.Amount*cart.Item.Price;
                        <tr>
                            <td>@cart.Item.Name (@cart.Amount)</td>
                            <td>Rp. @((cart.Amount*cart.Item.Price).ToString("#,##0.00"))</td>
                            <td class="text-center">
                                <form action="Home/RemoveCartById" method="post">
                                    <input type="hidden" name="CartId" value="@cart.CartId"/>
                                    <button type="submit" class="btn btn-sm btn-danger">x</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
                <div class="text-center" style="background-color:#E5F61A;">
                    <h3>Total Harga = Rp. @total_price.ToString("#,##0.00")</h3>
                </div>
                <form action="Home/Checkout" method="post">
                    <input type="hidden" name="TotalPrice" value="@total_price">
                    <button type="submit" class="btn btn-success btn-block">Bayar</button>
                </form>
                <button onclick="location.href='Home/RemoveCart'" type="button" class="btn btn-danger btn-block mt-1">Batal</button>
            </div>
        </div>
    </div>
</div>

